.*.swp
*.autosave
.DS_Store
*.pyc
*.so
*.dylib
*.o
a.out
*.db
*~
xcuserdata
build
*.creator.user
*.pro.user
*.app

# from test_bmpthumb.py
thumbnail.bmp

.idea
xcshareddata

# automatically created by qmake
Makefile
